*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/compiler.xml
.idea/encodings.xml
.idea/gradle.xml
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
gradlew.bat
gradlew
gradle.properties
.idea/*
settings.gradle
app/proguard-rules.pro
app/.gitignore
